/**
 * Core variables and mixins
 */
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "mixvars.less";
@import "override.less";



/**
 * Main CSS
 */
html, body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
}

h1, h2, h3 {
	font-weight: 200;
	letter-spacing: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.silver {
	color: @silverDark;
}
a.silver {
	&:hover {
		color: @silverSuperDark;
	}
}

.service_template {
	margin-top: 40px;
	margin-bottom: 40px;
}

.btn-coloured {
	color: @white;
	
	&:hover, &:focus {
		color: @white;
	}
}

#header_block {
	background-color: #D1635D;
	padding: 40px 0;
	.transition( e('background-color 250ms linear') );
}

#title_container_block {
	color: @white;
	
	h1, .options {
		width: 100%;
		color: @white;
		text-align: center;
		
		&.title {
			font-size: 64px;
		}
		
		&.options {
			border-top: solid 1px @white;
			margin-top: 10px;
			padding-top: 10px;
			color: @white;
		}
	}
	
	.editing {
		width: 100%;
		background: none;
		border: 0;
		text-align: center;
		padding: 0;
		font-size: 56px;
	}
	
	a {
		color: @white;
	}
	
	.ico {
		font-size: 44px;
		color: @white;
		
		&:hover {
			text-decoration: none;
		}
	}
}

#projects_container_block {
	color: @white;
	border-top: solid 1px @white;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
	
	ul {
		list-style: none;
		margin: 0 0 10px -40px;
		
		li {
			color: @white;
			display: inline;
			padding: 0 10px;
			margin: 0;
			
			
			a {
				color: @white;
			}
		}
	}
	
	.input-group {	
		.form-control {
			background: none;
			padding: 0 1px 2px 1px;
			border: 0;
			border-bottom: solid 1px @white;
			height: 30px;
			color: @white;
			.box-shadow(none);
			.border-radius(0);
		}
		
		.input-group-btn {
			.border-radius(0);
			
			button {
				padding: 0 1px 2px 1px;
				border: 0;
				border-bottom: solid 1px @white;
				background: none;
				color: @white;
				height: 30px;
				.border-radius(0);
				
				&:hover {
					color: @white;
				}
			}
		}
	}
}

#main_block {
	padding: 40px 0;
}

#totalTicker {
	text-align: right;
	color: @silver;
	font-size: 18px;
	border-top: dotted 1px lighten(@silver, 5%);
}

.project_page_view {
	#new {
		
		.input-group {
			margin-bottom: 40px;
			
			.form-control {
				font-size: 28px;
				height: 46px;
				padding: 6px 1px;
				border: 0;
				border-bottom: solid 1px @silver;
				.box-shadow(none);
				.border-radius(0);
			}
			
			.input-group-btn {
				.border-radius(0);
				
				button {
					font-size: 16px;
					height: 46px;
					padding: 6px 1px;
					border: 0;
					border-bottom: solid 1px @silver;
					background: none;
					color: @silverDark;
					.border-radius(0);
					
					&:hover {
						color: @silverSuperDark;
					}
				}
			}
		}
	}
}

.workunit_view, .home_item {
	border-top: dotted 1px #999999;
	margin: 10px 0;
	padding: 5px 0;
	font-size: 18px;
	
	.toggle_timer, .timer_space {
		display: inline-block;
		width: 25px;
	}
	
	.project {
		font-size: 14px;
	}
	
	.option {
		margin-right: 15px;
		display: none;
		font-size: 16px;
	}
	
	&:hover {
		.option {
			display: inline-block;
		}
	}
	
	&.active_timer {
		border-top-color: @black;
		
		.description, .title {
			font-size: 22px;
		}
		
		.option {
			margin-top: 4px;
		}
	}
	
	.edit_input {
		display: inline-block;
		padding: 1px 0px 2px 0px;
		border: 0;
		width: 50%;
		.box-shadow(none);
		.border-radius(0);
	}
	
}

.home_item {
	.timer {
		color: @silverDark;
	}
	
	.project {
		color: @silverDark;
	}
}

.footer {
	border-top: solid 1px lighten(@silver, 5%);
	color: @silver;
	font-size: 12px;
	padding-top: 5px;
	
	a {
		color: @silver;
	}
}