/*
 * Grays (override from bootstrap/variables.less)
 */
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


@silver:				#CCCCCC;
@silverDark:			#999999;
@silverSuperDark:		#666666;

/*
 * Accent colors (override from bootstrap/variables.less)
 */
@blue:                  #0988EA;
@blueDark:              #313b44;
@blueSuperDark:			#22282d;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

/*
 * Scaffolding (override from bootstrap/variables.less)
 */
@bodyBackground:        #F1F1F1;
@focusBackground:		@white;
@textColor:             @grayDark;
@lightSilver:			#d2dce4;

/*
 * Links (override from bootstrap/variables.less)
 */
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);


@defaultColor:			#B36356;


.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}


.form-control-focus(@color: @input-border-focus) {
	&:focus {
		border-color: inherit;
		outline: 0;
		.box-shadow(~"none");
	}
}