body, html {
	width: 100%;
}

body, div, p {
	font-size: 16px;
}

body {
	font-size: 1.4em;
}

.form-group label {
	font-weight: normal;
}

.alert.alert-error {
	background-color: #F2DEDE;
	border-bottom-color: #EBCCD1;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100% 100% 100% 100%;
	border-image-source: none;
	border-image-width: 1 1 1 1;
	border-left-color: #EBCCD1;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #EBCCD1;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #EBCCD1;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: #A94442;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
}

@media (min-width: @screen-lg-desktop) {
	.container { width: @container-sm; }
}
@media (min-width: @screen-desktop) {
	.container { width: @container-sm; }
}

// mobile landscape
@media (max-width: @screen-phone) {
	body {
		font-size: 1.8em;
	}
	
}