{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	{{ form_open({'action':this_url()}) }}
		{{ form_input('first_name', identity.first_name, {'placeholder':'First name'}) }}
		{{ form_input('last_name', identity.last_name, {'placeholder':'Last name'}) }}
		{{ form_input('email', identity.email, {'placeholder':'Email'}) }}
		
		{{ form_submit('go') }}
	{{ form_close() }}
	
{% endblock %}