{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	{{ form_open({'action':this_url()}) }}
		{{ form_input('old_password', '', {'placeholder':'Old Password'}) }}
		
		{{ form_input('password', '', {'placeholder':'Password'}) }}
		{{ form_input('repeat_password', '', {'placeholder':'Repeat Password'}) }}
		
		{{ form_submit('go') }}
	{{ form_close() }}
	
{% endblock %}