<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<title>{% if config('app_name') %}{{ config('app_name') }}{% if title %} | {% endif %}{% endif %}{{ title }}</title>
		
		{{ asset_css('bootstrap.css') }}
		{{ asset_css('responsive.css') }}
		{{ asset_css('base.css') }}
		
		{% block head %}
		{% endblock %}
		
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		<div class="container">
			
			<div class="site_container">
				{% if messages %}
					{% for type_group,type_messages in messages %}
						<div class="alert alert-{{ type_group }}">
						{% for message in type_messages  %}
							<p>{{ message }}</p>
						{% endfor %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
			
			{% block content %}{% endblock %}
			
		</div>
		
		{% include 'common/footer.twig' %}
		
		{{ asset_js('jquery.min.js') }}
		
		{% block scripts %}{% endblock %}
	
	</body>
</html>