<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		
		<title>{% if config('app_name') %}{{ config('app_name') }}{% if title %} | {% endif %}{% endif %}{{ title }}</title>
		
		{{ asset_css('bootstrap.css') }}
		{{ asset_css('base.css') }}
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		
		<style id="uiColor" type="text/css"></style>
		
		
		{% block head %}
		{% endblock %}
		
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		
		{% if messages %}
			{% for type_group,type_messages in messages %}
				<div class="alert alert-{{ type_group|lower }}">
				{% for message in type_messages  %}
					<p>{{ message }}</p>
				{% endfor %}
				</div>
			{% endfor %}
		{% endif %}
		
		{% block content %}{% endblock %}
		
		{% include 'common/footer.twig' %}
		
		{{ asset_js('jquery.min.js') }}
		{{ asset_js('underscore.min.js') }}
		{{ asset_js('backbone.min.js') }}
		{{ asset_js('bootstrap.min.js') }}
		
		{{ asset_js('app.secure.min.js') }}
		
		{% block scripts %}{% endblock %}
		
	</body>
</html>