	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

<div class="footer">
	<span class="pull-right">{% if identity %}<a href="/logout">logout</a>{% endif %}</span>
	
	{{ config('app_name') }} app
</div>


			</div>
		</div>
	</div>