

{% macro listing_edit_header(listing, page) %}
	{% if listing %}
	<div style="border: solid 1px #000;">
		<span class="pull-right label">{{ listing.status }}</span>
		
		
		<a href="/{{ listing.listing_id }}/edit" class="{% if page == 'details' %} active{% endif %}">details</a>
		<a href="/{{ listing.listing_id }}/edit/media" class="{% if page == 'media' %} active{% endif %}">media</a>
		
	</div>
	{% endif %}
{% endmacro %}