<script type="text/template" id="forgot_form_block">
	
	{{ form_open({'action':this_url(), 'class':'form-horizontal', 'id':'forgot_form', 'autocomplete':'off'}) }}
		{{ form_input('email', '', {'class':'form-control', 'placeholder':'Email'}) }}
		
		<button type="submit" data-loading-text="Resetting..." class="btn btn-primary submit">Reset</button>
	{{ form_close() }}
	
</script>