{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	<div class="alert alert-info">Unable to activate account. The activation code you used is invalid or has expired.</div>
	
{% endblock %}