{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	{{ form_open({'action':this_url()}) }}
		<div class="form-group">
			<label for="form_password">New password</label>
			{{ form_input('password', '', {'class':'form-control'}) }}
		</div>
		
		<div class="form-group">
			<label for="form_repeat_password">Repeat new password</label>
			{{ form_input('repeat_password', '', {'class':'form-control'}) }}
		</div>
		
		{{ form_submit('go') }}
	{{ form_close() }}
	
{% endblock %}