{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	{% if reset %}
		<div class="alert alert-info">Password reset. please check your email for a reset link.</div>
	{% else %}
		
		{{ form_open({'action':this_url()}) }}
			<div class="form-group">
				<label for="form_email">Email</label>
				{{ form_input('email', '', {'class':'form-control'}) }}
			</div>
			
			{{ form_submit('go') }}
		{{ form_close() }}
		
	{% endif %}
	
{% endblock %}