{% extends "common/base_service_template.twig" %}


{% block content %}
	
	{{ form_open({'action':'/login', 'class':'form-vertical', 'autocomplete':'off'}) }}
		{{ form_hidden('after', after) }}
		
		<div class="form-group">
			<label for="form_email">Email</label>
			{{ form_input('email', form_val('email')|default('example@example.com'), {'class':'form-control', 'placeholder':'Email'}) }}
		</div>
		
		<div class="form-group">
			<label for="form_password">Password</label>
			{{ form_password('password', form_val('password')|default('123'), {'class':'form-control', 'placeholder':'Password'}) }}
		</div>
		
		{{ form_submit('sign_in', 'Sign in', {'class':'btn btn-default'}) }}
		
	{{ form_close() }}
	
{% endblock %}