{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	{% if registered %}
		<div class="alert alert-info">User registered. please check your email for an activation link.</div>
	{% else %}
		
		{{ form_open({'action':this_url()}) }}
			<div class="form-group">
				<label for="form_first_name">First name</label>
				{{ form_input('first_name', '', {'class':'form-control'}) }}
			</div>
			
			<div class="form-group">
				<label for="form_last_name">First name</label>
				{{ form_input('last_name', '', {'class':'form-control'}) }}
			</div>
			
			<div class="form-group">
				<label for="form_email">First name</label>
				{{ form_input('email', '', {'class':'form-control'}) }}
			</div>
			
			<div class="form-group">
				<label for="form_password">First name</label>
				{{ form_password('password', '', {'class':'form-control'}) }}
			</div>
			
			{{ form_submit('go') }}
		{{ form_close() }}
		
	{% endif %}
	
{% endblock %}