{% extends "common/base_secure_template.twig" %}


{% block content %}
	
	{% if resent %}
		<div class="alert alert-info">Email resent.</div>
	{% else %}
		<div class="alert alert-info">Could not resend email. Please try again.</div>
	{% endif %}
	
{% endblock %}