/**
 * Core variables and mixins
 */
/*
 * Grays (override from bootstrap/variables.less)
 */
/*
 * Accent colors (override from bootstrap/variables.less)
 */
/*
 * Scaffolding (override from bootstrap/variables.less)
 */
/*
 * Links (override from bootstrap/variables.less)
 */
body,
html {
  width: 100%;
}
body,
div,
p {
  font-size: 16px;
}
body {
  font-size: 1.4em;
}
.form-group label {
  font-weight: normal;
}
.alert.alert-error {
  background-color: #F2DEDE;
  border-bottom-color: #EBCCD1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100% 100% 100% 100%;
  border-image-source: none;
  border-image-width: 1 1 1 1;
  border-left-color: #EBCCD1;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #EBCCD1;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #EBCCD1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: #A94442;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}
@media (min-width: 1200px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 1.8em;
  }
}
/**
 * Main CSS
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3 {
  font-weight: 200;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.silver {
  color: #999999;
}
a.silver:hover {
  color: #666666;
}
.service_template {
  margin-top: 40px;
  margin-bottom: 40px;
}
.btn-coloured {
  color: #ffffff;
}
.btn-coloured:hover,
.btn-coloured:focus {
  color: #ffffff;
}
#header_block {
  background-color: #D1635D;
  padding: 40px 0;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
#title_container_block {
  color: #ffffff;
}
#title_container_block h1,
#title_container_block .options {
  width: 100%;
  color: #ffffff;
  text-align: center;
}
#title_container_block h1.title,
#title_container_block .options.title {
  font-size: 64px;
}
#title_container_block h1.options,
#title_container_block .options.options {
  border-top: solid 1px #ffffff;
  margin-top: 10px;
  padding-top: 10px;
  color: #ffffff;
}
#title_container_block .editing {
  width: 100%;
  background: none;
  border: 0;
  text-align: center;
  padding: 0;
  font-size: 56px;
}
#title_container_block a {
  color: #ffffff;
}
#title_container_block .ico {
  font-size: 44px;
  color: #ffffff;
}
#title_container_block .ico:hover {
  text-decoration: none;
}
#projects_container_block {
  color: #ffffff;
  border-top: solid 1px #ffffff;
  margin-top: 10px;
  padding: 10px 0;
  text-align: center;
}
#projects_container_block ul {
  list-style: none;
  margin: 0 0 10px -40px;
}
#projects_container_block ul li {
  color: #ffffff;
  display: inline;
  padding: 0 10px;
  margin: 0;
}
#projects_container_block ul li a {
  color: #ffffff;
}
#projects_container_block .input-group .form-control {
  background: none;
  padding: 0 1px 2px 1px;
  border: 0;
  border-bottom: solid 1px #ffffff;
  height: 30px;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#projects_container_block .input-group .input-group-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#projects_container_block .input-group .input-group-btn button {
  padding: 0 1px 2px 1px;
  border: 0;
  border-bottom: solid 1px #ffffff;
  background: none;
  color: #ffffff;
  height: 30px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#projects_container_block .input-group .input-group-btn button:hover {
  color: #ffffff;
}
#main_block {
  padding: 40px 0;
}
#totalTicker {
  text-align: right;
  color: #cccccc;
  font-size: 18px;
  border-top: dotted 1px #d9d9d9;
}
.project_page_view #new .input-group {
  margin-bottom: 40px;
}
.project_page_view #new .input-group .form-control {
  font-size: 28px;
  height: 46px;
  padding: 6px 1px;
  border: 0;
  border-bottom: solid 1px #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.project_page_view #new .input-group .input-group-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.project_page_view #new .input-group .input-group-btn button {
  font-size: 16px;
  height: 46px;
  padding: 6px 1px;
  border: 0;
  border-bottom: solid 1px #cccccc;
  background: none;
  color: #999999;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.project_page_view #new .input-group .input-group-btn button:hover {
  color: #666666;
}
.workunit_view,
.home_item {
  border-top: dotted 1px #999999;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 18px;
}
.workunit_view .toggle_timer,
.home_item .toggle_timer,
.workunit_view .timer_space,
.home_item .timer_space {
  display: inline-block;
  width: 25px;
}
.workunit_view .project,
.home_item .project {
  font-size: 14px;
}
.workunit_view .option,
.home_item .option {
  margin-right: 15px;
  display: none;
  font-size: 16px;
}
.workunit_view:hover .option,
.home_item:hover .option {
  display: inline-block;
}
.workunit_view.active_timer,
.home_item.active_timer {
  border-top-color: #000000;
}
.workunit_view.active_timer .description,
.home_item.active_timer .description,
.workunit_view.active_timer .title,
.home_item.active_timer .title {
  font-size: 22px;
}
.workunit_view.active_timer .option,
.home_item.active_timer .option {
  margin-top: 4px;
}
.workunit_view .edit_input,
.home_item .edit_input {
  display: inline-block;
  padding: 1px 0px 2px 0px;
  border: 0;
  width: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.home_item .timer {
  color: #999999;
}
.home_item .project {
  color: #999999;
}
.footer {
  border-top: solid 1px #d9d9d9;
  color: #cccccc;
  font-size: 12px;
  padding-top: 5px;
}
.footer a {
  color: #cccccc;
}
