{% extends "common/base_secure_template.twig" %}


{% block content %}
	
    <div id="header_block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				
					<div id="title_container_block"></div>
					
					<div id="projects_container_block">
						<ul id="projects_list">
							<li class="project_list_item" id="add_project_block"><a href="#" class="show_form">add new</a></li>
						</ul>
						
						{{ form_open({'action':'/api/project', 'class':'form-horizontal hide', 'id':'project_add_form', 'autocomplete':'off'}) }}
							<div class="input-group">
								{{ form_input('name', '', {'id':'new_project_name', 'class':'form-control', 'placeholder':'project name'}) }}
								<span class="input-group-btn"><button type="submit" data-loading-text="Saving..." class="btn btn-default submit">Add</button></span>
							</div>
						{{ form_close() }}
					</div>
					
				</div>
			</div>
		</div>
    </div>
	
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
				
				<div id="main_block"></div>
				
			</div>
		</div>
	</div>
	
{% endblock %}


{% block scripts %}
	{{ parent() }}
	
	
	
	<script type="text/template" id="title_block">
		
		<h1 class="title"><a href="#home" class="ico"><i class="fa fa-tasks"></i>&nbsp;&nbsp;</a><%= this.title %></h1>
			
	</script>
	
	
	
	<script type="text/template" id="project_title_block">
		
		<h1 class="title">
			<% if (this.editing == true) { %>
				<input type="text" value="" class="editing" />
			<% } else { %>
				<a href="#home" class="ico"><i class="fa fa-tasks"></i>&nbsp;&nbsp;</a><%= name %>
			<% } %>
		</h1>
		
		<div class="options">
			<a href="#" class="edit">edit</a> - <a href="#" class="newColor">new color</a> - <a href="#" class="delete">delete</a>
		</div>
		
	</script>
	
	
	
	<script type="text/template" id="home_block">
		
		<div class="workunitList"></div>
		
	</script>
	
	
	
	<script type="text/template" id="home_item_block">
		
		<div class="description">
			<span class="timer pull-right"></span>
			
			<% if (type == 'timer') { %>
				<a href="#" class="silver toggle_timer"><% if (running == 1) { %><i class="fa fa-pause"></i><% } else { %><i class="fa fa-play"></i><% } %></a>
			<% } else { %>
				<span class="silver timer_space"><i class="fa fa-play invisible"></i></span>
			<% } %>
			
			<a href="#project/<%= project_id %>"><%= description %></a>
		</div>
		
		<div class="project">
			<div class="timer_space">&nbsp;</div>
			<%= this.projectName() %>
		</div>
		
	</script>
	
	
	
	<script type="text/template" id="new_block">
		
		{{ form_open({'action':'/api/workunit', 'class':'form-horizontal', 'id':'new_workunit', 'autocomplete':'off'}) }}
			<input type="hidden" name="project" value="<%= id %>" class="new_project" />
			
			<div class="input-group">
				{{ form_input('description', '', {'class':'form-control new_description', 'placeholder':'new entry name'}) }}
				<span class="input-group-btn"><button type="button" class="btn btn-coloured manual">manual&nbsp;</button><button type="submit" class="btn btn-coloured submit">&nbsp;timer</button></span>
			</div>
		{{ form_close() }}
		
	</script>
	
	
	
	<script type="text/template" id="project_list_item_block">
		
		<a href="#project/<%= id %>" id="project_link_<%= id %>" class="project_link"><%= name %></a>
		
	</script>
	
	
	
	<script type="text/template" id="project_page_block">
		
		<div id="new"></div>
		
		<div id="workunitList"></div>
		
		<div id="totalTicker"></div>
		
	</script>
	
	
	
	<script type="text/template" id="workunit_list_block"></script>
	
	
	
	<script type="text/template" id="workunit_block">
		
		<div class="title">
			<span class="timer pull-right"></span>
			
			<% if (type == 'timer') { %>
				<% if (this.editing == false) { %>
					<a href="#" class="silver edit option pull-right"><i class="fa fa-pencil"></i></a>
				<% } %>
				
				<a href="#" class="silver toggle_timer"><% if (running == 1) { %><i class="fa fa-pause"></i><% } else { %><i class="fa fa-play"></i><% } %></a>
			<% } else { %>
				<% if (this.editing == false) { %>
					<a href="#" class="add_time silver option pull-right"><i class="fa fa-plus"></i></a>
					<a href="#" class="minus_time silver option pull-right"><i class="fa fa-minus"></i></a>
				<% } %>
				
				<a href="#" class="silver timer_space edit"><i class="fa fa-pencil"></i></a>
			<% } %>
			
			<% if (this.editing == false) { %>
				<a href="#" class="silver delete option pull-right"><i class="fa fa-trash-o"></i></a>
			<% } %>
			
			<% if (this.editing == true) { %>
				<input type="text" class="edit_input editing" value="" />
			<% } else { %>
				<%= description %>
			<% } %>
		</div>
					
	</script>
	
	
	
	<script type="text/template" id="not_found_bock">
		
		<% if (this.message) { %>
			<%= this.message %>
		<% } else { %>
			Page Not found
		<% } %>
		
	</script>
	
	
	
	<script type="text/javascript">
		$(function () {
			
			var app = app || {};
			
			
			// namespace
			window.time = {};
			window.time.view = {};
			
			app.headerView = appCore.baseView.extend({
				el: $("#sidebar_block"),
				events: {},
				initialize: function() {
					window.time.view.projects = new app.projectsView();
				},
				setColor: function(color) {
					var url = "/styles?color=" + encodeURIComponent(color);
					$.get(url, function( data ) {
						
						var css = data,
							el = $('#uiColor'),
							new_el = $('<style />', {text: css}).insertAfter( el );
						
						el.remove();
						new_el.attr('id', 'uiColor');
						
					});
				},
				applyColor: function() {
					this.setColor(this.generateColor());
				},
				generateColor: function() {
					return '#'+Math.floor(Math.random()*16777215).toString(16);
				}
			});
			
			
			app.projectsView = appCore.baseView.extend({
				el: $("#projects_container_block"),
				events: {
					'submit #project_add_form': 'saveProject',
					'click .show_form': 'showForm'
				},
				initialize: function() {
					window.time.projects = new appCore.projectList();
					
					this.listenTo(window.time.projects, 'add', this.addProject);
					
					window.time.projects.fetch({remove: false, success: this.initialized});
				},
				initialized: function() {
					window.time.view.main = new app.mainView();
					
					app.router = new app.routes();
					Backbone.history.start();
				},
				showForm: function(e) {
					e.preventDefault();
					$(e.currentTarget).addClass('hide');
					
					this.$el.find('#project_add_form').removeClass('hide');
				},
				populateProjects: function() {
					this.removeChildViews();
					window.time.projects.each(this.addProject, this);
				},
				addProject: function(model) {
					var view = new appCore.projectListItemView({model: model});
					this.addChildView(view);
					this.$el.find('#projects_list').prepend(view.renderView().el);
				},
				saveProject: function(e) {
					e.preventDefault();
					
					this.model = new appCore.project();
					
					data = this.getViewData();
					data.name = data.name || 'untitled' ;
					
					this.model.save(data, {
						success: function(model, xhr, opt) {
							this.$el.find('#new_project_name').val('');
							this.$el.find('#project_add_form').addClass('hide');
							this.$el.find('#add_project_block').removeClass('hide');
							
							window.time.projects.add(model);
							window.location.hash = 'project/' + model.get('id');
							
							this.model = null;
						}.bind(this)
					});
				}
			});
			
			
			// Main app view
			app.mainView = appCore.baseView.extend({
				el: $("#main_block"),
				titleEl: $('#title_container_block'),
				activeView: null,
				titleView: null,
				events: {
				},
				initialize: function() {
				},
				renderHome: function() {
					var view = new appCore.homeView();
					this.setActiveView(view, 'recent');
					this.$el.html(view.renderView().el);
				},
				renderProject: function(project_obj) {
					var view = new appCore.projectPageView({model: project_obj});
					this.setActiveView(view, project_obj);
					this.$el.html(view.renderView().el);
					
					window.time.view.header.setColor(project_obj.get('color'));
				},
				notFound: function(message) {
					var view = new appCore.notFoundView().setMessage(message);
					this.setActiveView(view, 'not found');
					this.$el.html(view.renderView().el);
					window.time.view.header.setColor('#D1635D');
				},
				
				setActiveView: function(view, title) {
					if (this.activeView != null) { this.activeView.destroy(); }
					if (this.titleView != null) { this.titleView.destroy(); }
					
					this.activeView = view;
					this.titleView = this.setTitle(title);
				},
				setTitle: function(title) {
					if (typeof(title) != 'undefined') {
						var view = typeof(title) == 'object' ? new appCore.projectTitleView({model: title}) : new appCore.titleView().setTitle(title) ;
						this.titleEl.empty().html(view.renderView().el);
					}
					return null;
				}
			});
			
			
			app.routes = Backbone.Router.extend({
				routes : {
					'home': 'home',
					'project/:project_id': 'project',
					'*notFound': 'notFound'
				},
				home: function() {
					window.time.view.header.setColor('#D1635D');
					
					window.time.view.main.renderHome();
				},
				project: function(project_id) {
					var project = window.time.projects.get(project_id);
					if (project != null) {
						window.time.view.main.renderProject(project);
					} else {
						window.time.view.main.notFound('We cannot find that project.');
					}
				},
				notFound: function() {
					if (Backbone.history.fragment !== '') {
						window.time.view.main.notFound();
					}
					this.navigateTo("home");
				},
				navigateTo: function(location) {
					this.navigate(location, {trigger: true, replace: false});
				}
			});
			
			
			// Initialize the views
			window.time.view.header = new app.headerView();
			
		});
	</script>
{% endblock %}